{% extends "dashboard_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
	body{background: #f9f9f9;}
	.login-outer{background: #FFF;border:inset 2px #5084C1;border-radius: 4px;}
	.signin-btn{font-size: 18px;}
	.loader-img{width: 24px;}
	a {color: #10BAF1;}
	.text-muted{color:#ccc !important;}
	.text-muted ul{padding-left: 0px;}

</style>
<div class="container-fluid">
	<!-- Login view page -->
	<div class="row justify-content-center">
		<div class="col-11 col-lg-4 col-md-6  col-sm-12 mt-5 login-outer pl-5 pr-5 pb-5 pt-0">
			<div>{% include 'common/messages.html' %}</div>
			<div class="text-center">
		    	<img class="col-5 col-md-6 my-4" src="{% static 'img/chng_pass2.jpeg' %}">
			</div>

			<div class="col-md-12 mt-3">
				<h4 class="text-center forgot-pass-text">Reset password?</h4>  
			</div>
			<form method="post">
			  	{% csrf_token %}
			  	{% for field in form %}
	                {{ field|as_crispy_field }}
	        	{% endfor %}
	        	<div style="text-align: right;">
		        	<button class="btn btn-lg header-btn" type="submit">
				  		Save changes<span class="hover-effect"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
