{% extends 'dashboard_layout.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include 'common/messages.html' %}
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="card-title pt-2 text-dark">Hotel Admin Issues</h3>
                            </div>
                            <div class="col-md-3">
                                <form method="GET" action="{% url 'admin_dashboard:hotel_admin_issue_dashboard' %}" class="form-inline float-right">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="q" value="{{ search_query|default:'' }}" placeholder="Search Issues...">
                                        <div class="input-group-append">
                                            <button class="btn btn-white btn-round btn-just-icon" type="submit">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="issueTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="open-issues-tab" data-toggle="tab" href="#open-issues" role="tab" aria-controls="open-issues" aria-selected="true">Open Issues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="closed-issues-tab" data-toggle="tab" href="#closed-issues" role="tab" aria-controls="closed-issues" aria-selected="false">Closed Issues</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="issueTabsContent">
                            <div class="tab-pane fade show active" id="open-issues" role="tabpanel" aria-labelledby="open-issues-tab">
                                {% include 'admin_dashboard/issues/_issue_table_partial.html' with issues=open_issues table_id='openIssuesTable' %}
                            </div>
                            <div class="tab-pane fade" id="closed-issues" role="tabpanel" aria-labelledby="closed-issues-tab">
                                {% include 'admin_dashboard/issues/_issue_table_partial.html' with issues=closed_issues table_id='closedIssuesTable' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
    function initializeDataTable(tableId) {
        $('#' + tableId).DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            // "columnDefs": [
            //     { "orderable": false, "targets": 7 } // Disable sorting for Actions column
            // ]
        });
    }

    initializeDataTable('openIssuesTable');
    initializeDataTable('closedIssuesTable');

    // Ensure tables are redrawn when tabs are shown, to fix header alignment issues
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($.fn.dataTable.tables(true)).DataTable()
           .columns.adjust();
    });
});
</script>
{% endblock scripts %} 